body {
    background-color: #1d1f21;
    color: #c5c8c6;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #282a2e;
    color: #f0c674;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header a {
    color: #f0c674;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    text-decoration: underline;
}

.container {
    text-align: left;
    max-width: 800px;
    padding: 20px;
    background-color: #282a2e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 80px;
}

.profile-box {
    padding: 20px;
    border-radius: 5px;
    background-color: #373b41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-box h1, .profile-box h2 {
    color: #81a2be;
}

.profile-box p, .profile-box ul {
    margin: 5px 0;
    color: #c5c8c6;
}

.profile-box ul {
    list-style: none;
    padding: 0;
}

.profile-box ul li {
    margin: 5px 0;
}

.profile-box ul li a {
    text-decoration: none;
    color: #b5bd68;
}

.profile-box ul li a:hover {
    text-decoration: underline;
}

.badges img {
    margin: 5px;
}

.rainbow-text {
    background: linear-gradient(
        300deg,
        #cc9999,
        #cc99cc,
        #9999cc,
        #99cccc,
        #99cc99,
        #cccc99,
        #cc9966,
        #cc9999
    );
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    body {
        height: auto;
        padding: 20px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
        border-radius: 5px;
    }

    .profile-box {
        padding: 10px;
        border-radius: 5px;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
        margin: 0 auto 10px;
    }
}
